html,
body {
  font-size: 0;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
	background: url(../blur.jpg) 0 0 / cover;;
}


canvas { position:absolute; top:0; left:0; z-index:-999 }